 
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2016, 18.26.44
    Author     : Alessandro
*/
@font-face { /*font per i titoli della descrizione*/
    font-family: amplify;
    src: url(fonts/amplify.ttf);
}
body{
    background: wheat;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: black;
    background-image: url('images/header_bg.jpg');
    background-repeat: no-repeat;
    height: 360px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
header h1{
    position:absolute;
    color: white;
    font-size: 80pt;
    font-family: amplify;
    left: 60px;  
}
header h2{
    color: white;
}
a:hover{
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 2px 2px 10px orangered;
}
#subtitle{
    position: absolute;
    font-size:24pt;
    top: 280px;
    left:30px;
}
#pageid{
    position: absolute;
    top: 340px;
    background: black;
    font-size: 24pt;
    font-style: italic;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
.navbar{
    position: relative;
    font-size: 16pt;
    left:50%;
    width: 50%;
    background: black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
.navbar a{
    margin-left: 5px;
    color: white;
    text-decoration: none;
    border-left: solid white;
    padding-left: 20px;
    padding-right: 20px;
}
.sidebar{
    float: left;
    left:1%;
    background: white;
    width: 15%;
    height: 1600px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    box-shadow: 2px 0px 5px rgba(175,175,175,0.7);
}
.sidebar p{
    font-size: 16pt;
    padding: 20px;
}
.sidebar a{
    color:black;
}
.dropbtn{
    display: none;
}
#categories{ /*Quando è in modalità desktop non serve mostrare la barra di navigazione in quanto ogni categoria è visualizzata sulla schermata*/
    display: none;
}
article{
    position:relative;
    top: 40px;
    width: 80%;
    height: 1600px;
    background: white;
    background-image: url(images/pageback.JPG);
    background-position: bottom;
    background-repeat: repeat-x;
    left: 18%;
    border-top-right-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
article h2, .page h3{
    position:absolute;
    top:-60px;
    background: white;
    padding:5px 20px 20px 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    font-style: italic;
    font-size: 18pt;
    
    
    
}
section{
    position: absolute;
    width:46%;
    height: 600px;
    background: rgba(120,120,120,0.9);
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
section h3{
   margin-top: 0px;
   padding-top: 20%;
   text-align: center;
   text-shadow: 2px 2px 10px orangered;
   font-size:72pt;
   font-family: amplify;
   color: white;
}
section p{
    margin-top: 0px;
    margin-left: 3%;
    margin-right: 5%;
    width:90%;
    height: 35%;
    background: white;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: 2%;
    font-size: 16pt;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
.guitars{
    margin:2% auto 50% 2%; 
}
#guitarH{
    margin-top: 0px;
    background-image: url('images/Guitars.gif');
    height: 60%;
}
.amplifiers{
     margin:2% auto 2% 52%;
}
#amplifierH{
    margin-top: 0px;
    background-image: url('images/Apmlifiers.gif');
    height: 60%;
}
.accessories{
    margin:660px auto auto 2%;
}
#accessoriesH{
    margin-top: 0px;
    background-image: url('images/Accessories.gif');
    height: 60%;
}
.pedals{
     margin:660px auto 2% 52%;
}
#pedalsH{
    margin-top: 0px;
    background-image: url('images/Pedals.gif');
    height: 60%;
}
.page{
    position: relative;
    width: 90%;
    height: 900px;
    background: white;
    background-image: url(images/pageback.JPG);
    background-position: bottom;
    background-repeat: repeat-x; 
    left:5%;
    margin-bottom: 0px;
    margin-top: 50px;
    border-top-right-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
.tabellapiccola{
    display: none;
}
table{
    position:relative;
    width: 90%;
    top:40px;
    left:5%;
    border-collapse: collapse;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
td{
    height: 80px;
    font-size: 9pt;
    text-align: center;
    border: solid black;
    border-width: 2px;
}
td a::before{
    content: url('images/Cart_logo.png');
   
}
td a{
    font-size: 8pt;
    background: linear-gradient(to top, orangered, orange);
    color:black;
    padding: 20px 5px 5px 5px;
    border: solid black;
    border-width: 4px;
    border-top-color: gray;
    text-decoration: none;
    text-transform: uppercase;
}
td a:hover{
    color: black;
    background: linear-gradient(to bottom, orangered, lightgoldenrodyellow);
}
.photo{
    width: 100px;
    background: white;
}
.link{
    width:200px;
    background-image: url('images/amp_leather.jpg');
    background-repeat: no-repeat;
    border: none;
    border-right: solid black;
    
}
.qty{
    width: 20px;
}
.pari{
    background-image: url('images/Pari.jpg');
    background-repeat: repeat;
    color:white;
}
/*tr:nth-child(even){
    background-image: url('images/amps_texture.jpg');
    color:white;
}*/
.dispari{
    background-image: url('images/Dispari.jpg');
    background-repeat: no-repeat;
    color:white;
}
/*tr:nth-child(odd){
    background-image: url('images/Dispari.jpg');
    color:white;
    
}*/
.intestazionetab{
    background-image: url('images/amps_texture.jpg');
    border-style: solid;
    border-color: black;
    border-top-color: gray;
    border-width: thick;
    font-size: 16px;
    color: white;
    background-repeat: no-repeat;
}
form{
    position: relative;
    width:40%;
    top:50px;
    bottom:5%;
    height: auto;
    left:30%;
    background: rgba(120,120,120,0.9);
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
form input, form textarea{
    width: 65%;
    height:40px;
    background: linear-gradient(to bottom, lightgray, white);
    padding-left: 5%;
    border: solid white;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
.form_logo{
    display: none;
}
form label{
    position:relative;
    top:15px;
    color: white;
    text-transform: uppercase;
    
}
.form-label{
    position: relative;
    width:32%;
    height: 50px;
    top:62px;
    background-image: url('images/Form-pattern.jpg');
    left: -5px;
    text-align: center;
    z-index: 1;
    border: solid orangered;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
.form-input{
    position: relative;
    top: 10px;
    left: 30%
}
.rememberme{
    position: relative;
    top: 70px;
    left: -20%;
}
.rememberme input{
    height: 20px;
    box-shadow: none;
}
.rememberme label{
    position: relative;
    top: -5px;
    left: -30%;
    text-transform: none;
}
input[type=button], input[type=submit]{
    margin: 150px 1% 1% 1%;
    width:98%;
    background-image: url('images/Form-pattern.jpg');
    border: solid orangered;
    color:white;
    text-align: center;
    text-transform: uppercase;
}
input[type=checkbox]:hover, input[type=button]:hover, input[type=submit]:hover{
    opacity:0.7;
}
input[type=button]:active, input[type=submit]:active{
    opacity:1;
    box-shadow: 0px 0px 20px 6px orangered;
}
footer{
    position:relative;
    background: black;
    width:100%;
    height:100px;
    box-shadow: 2px 2px 5px rgba(175,175,175,0.7);
}
@media only screen and (max-width: 1024px) and (min-width: 480px){
    header{
        background: black;
        height: 60px;
    }
    header h1{
        font-size: 32pt;
        margin-top: 5px;
        left: 20px;  
    }
    #subtitle{
        position: absolute;
        font-size:12pt;
        top: 25px;
        left:40%;
    }
    .navbar{
        font-size: 10pt;
        left:0%;
        width: 100%;
        background: black;
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    #pageid{
       display: none;
    }
    .sidebar{
        width: 27.5%;
        margin-top: 10px;
        height:2700px;
    }
    .sidebar p{
        font-size: 12pt;
    }
    #categories p{
        display: none;
    }
    #categories li{
        float: left;
    }
    #categories li a{
        display: block;
        text-align: center;
        padding: 14px 16px;
        
        text-decoration: none;
        color: black;
    }
    #categories ol{
        list-style-type: none;
        margin: 0;
    }
    #categories{
        position: relative;
        display: inline-block;
        width: 90%;
        height: auto;
        padding: 0px;
        left: 5%;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        background-color: #f9f9f9;
    }
    #categories li a:hover{
        background: linear-gradient(to bottom, rgb(200,200,200), white);
        box-shadow: inset 1px 1px 5px 3px rgba(175,175,175,0.7);
        color: white;
    }
    article, .page{
        width: 100%;
        top:40px;
        margin-top: 10px;
        left:0%;
    }
    .page{
        height: 1000px;
    }
    article{
        width: 70%;
        height: 2700px;
        left: 30%;
        top:30px;
    }
    section{
        float: left;
        left: 0%;
        width:96%;
        height: 600px;
    }
    section p{
        margin-top: 0px;
        margin-left: 3%;
        margin-right: 5%;
        width:90%;
        height:150px;
        background: white;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 2%;
        font-size: 12pt;
    }
    article h2, .page h3{
        font-size: 10pt;
        top:-40px;
    }
    .guitars{
        margin:2% 2% 10px 2%;
    }
    .amplifiers{
        margin:650px 2% 10px 2%;
    }
    .accessories{
        margin:1300px 2% 10px 2%;
    }
    .pedals{
        margin:1950px 2% 10px 2%;
    }
    #guitarH, #amplifierH, #accessoriesH, #pedalsH{
        height: 60%;
    }
    form{
        width:90%;
        left:5%;
    }
    textarea{
        max-width: 65%;
    }
    
}
@media only screen and (max-width: 480px)
{
    header{
    background: black;
    height: 60px;
    }
    header h1{
    color: white;
    font-size: 32pt;
    font-family: amplify;
    margin-top: 5px;
    left: 20px;  
    }
    header h2{
        display: none;
    }
    #pageid{
        display: none;
    }
    .navbar a{
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar{
        font-size: 10pt;
        left:0%;
        width: 100%;
        background: black;
        border-radius: 0px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .sidebar{
        display: none;
    }
    .dropbtn{
        display: inline;
        padding:15px;
        background-image: url(images/dropdwn_1.png);
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
    }
    .dropdown{
        position: absolute;
        top:15px;
        right: 15px;
    }
    #categories p{
        display: none;
    }
    #categories{
        display: none;
        position:absolute;
        z-index: 2;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        right:0;
    }
    #categories a{
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    #categories li a:hover{
        background: linear-gradient(to bottom, rgb(200,200,200), white);
        box-shadow: inset 1px 1px 5px 3px rgba(175,175,175,0.7);
        text-shadow:none;
    }
    .dropdown:hover .dropbtn{
        opacity: 0.5;
    }
    .dropdown:hover #categories{
        display: block;
    }
    article, .page{
        width: 100%;
        height: 100%;
        top:40px;
        margin-top: 10px;
        
        left:0%;
    }
    .page{
        height: 1000px;
    }
    section{
        position: relative;
        width: 96%;
        height: auto;
        display: inline-block;
        margin-bottom: 20px;
    }
    section h3{
        margin-top: 0px;
        padding-top: 20%;
        text-align: center;
        text-shadow: 2px 2px 10px orangered;
        font-size: 46pt;
        font-family: amplify;
        color: white;
    }
    section p{
        margin-top: 0px;
        margin-left: 3%;
        margin-right: 5%;
        width:90%;
        height:150px;
        background: white;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        padding: 2%;
        font-size: 12pt;
    }
    article h2, .page h3{
        font-size: 10pt;
        top:-40px;
    }
    .guitars, .amplifiers, .accessories, .pedals{
        margin:20px 2% 10px 2%;
    }
    .pedals{
        margin-bottom: 100px;
    }
    #guitarH{
        margin-top: 0px;
        background-image: url('images/Guitars.gif');
        height: 30%;
    }
    #amplifierH{
        margin-top: 0px;
        background-image: url('images/Apmlifiers.gif');
        height: 30%;
    }
    #accessoriesH{
        margin-top: 0px;
        background-image: url('images/Accessories.gif');
        height: 30%;
    }
    #pedalsH{
        margin-top: 0px;
        background-image: url('images/Pedals.gif');
        height: 30%;
    }
    .form_logo{
        display: block;
        position: absolute;
        background-image: url(images/electro.png);
        border: solid gray;
        border-radius: 100%;
        width: 75px;
        height: 75px;
        z-index: 3;
        left:40%;
        top:15px;
    }
    form{
        width: 90%;
        left: 5%;
        margin-bottom: 150px;
    }
    textarea{
        max-width: 65%;
    }
    table{
        display: none;
    }
    .intestazionetab{
            font-size: 10pt;
        }
    .tabellapiccola{
        font-size: 10pt;
        display: initial;
        position: relative;
        margin-bottom: 200px;
    }
    .photo{
        width:105px;
    }
    .link{
        width: 60px;
    }
    .name{
        width: 50px;
    }
}
    
@media only screen and (max-width: 380px){

    .tabellapiccola{
        position:relative;
        width: 90%;
        top:40px;
        left:1px;
        border-collapse: collapse;
    }
    .qty{
        width: 4px;
    }
    .quantità{
        font-size: 6pt;
    }
    .cart{
        visibility: hidden;
    }
    form label{
        font-size: 10pt;
    }
}


